/* Denna fil skall innehålla din CSS kod */
body {
    margin: 0;
    
}

#wrapper-hem {
    display: grid;
    margin: auto;
    border: 1px solid black;
    background-color: #b58b63;
}

#wrapper-meny {
    background-color: #b58b63;
}

#upper_portion-om-oss {
    background-color:#a5b58d;
}

#middle_portion-om-oss {
     padding: 3%;
}

#lower_portion-om-oss {
    background-color:#f6efe8;
}

#upper_portion {
    font-size: 100%; 
    background-color:#a5b58d;
}



#middle_portion {
    padding: 4%;
    padding-bottom: 10%;
    display: grid;
    grid-template-areas:
    "h2 h2 h2 h2" 
    "mn mn mn as"
    "mb mb mb mb"
    ;
    gap: 4%;
    font-size: 100%;
    background-color:#f6efe8;
    

}

#lower_portion {
    padding: 4%;
    display: flex;
    flex-direction: row;
    gap: 4%;
    background-color: #f6efe8;
    font-size: 100%;
    justify-content: space-evenly;
    
}

nav {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#f6efe8;
    height: 15%; 
    padding: 1%;
}

a {
   text-decoration: none;
   color: black; 
}

#main_picture {
    text-align: center;
    background-image: url("../img/Kafe.jpg");
    background-size: cover;
    background-repeat: norepeat;
    aspect-ratio: 189/127;
  
}


#h1 {
    text-align: center;
    padding: 10%

}

#h2 { 
    text-align: center;
    grid-area: h2;
}

main {
    grid-area: mn;
}

aside {
    grid-area: as;
}

section {
    grid-area: se;
    color: black;
}

#img1 {
    max-width: 100%;
}

#picture1, #picture2 {
    max-width: 100%;  
    border: 3px solid #a5b58d; 
}



footer {
    grid-area: ft;
    color: black;
    
}



#group1 {
    grid-area: g1;
}

#group2 {
    grid-area: g2;
}

#group3 {
    grid-area: g3;
}

#maträtter {
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
}

#fika {
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
}

#drycker {
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
}

#matbilder {
    grid-area: mb;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10%;
    width: 100%;

}
.card {
    background-color:#f6efe8;
    padding-right: 7.5%;
    padding-left: 5%;
    border-radius: 20px;
}

#pastacarbonara {
    border: 3px solid #a5b58d; 
}

.img1 {
    border: 3px solid #a5b58d;
}

.subtitle {
    display: grid;
    justify-content: center;

}

#karta {
    width: 50%;
    margin: 3%;
    
}